.cache/
.local/
__pycache__/
*.xml
*.gz
*.db
*.log
*.bak
*.py[cod]
*.sqlite
*.sqlite3
*-wal
*-shm
*.tmp
*.dmp
*.cat
*.dat
*.zip
*.7z
*.exe
*.dll
.venv/
venv/
build/
dist/
.idea/
.vscode/
.env
.env.*
node_modules/
test-results/
playwright-report/
